@use "colors" as c;
@use "functions" as func;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    background-color: c.$background-black-color;
    color: c.$white-color;
}

button,
.button,
input {
    border: none;

    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

button,
.button {
    cursor: pointer;
}
