:root {
    --accent-red-color: #dd0508;
    --background-black-color: #020004;
    --accent-black-color: #000000;
    --accent-turquoise-color: #00f6ff;
    --accent-grey-color: #7e7e7e;
    --white-color: #ffffff;
}
