$white-color: hsl(0, 0%, 100%);

$background-black-color: hsl(270, 100%, 1%);
$background-grey-color: hsl(0, 1%, 10%);
$backdrop-color: hsla(0, 0%, 1%, 0.944);

$accent-red-color: hsl(0, 100%, 38%);
$accent-turquoise-color: hsl(182, 100%, 50%);
$accent-yellow-color: hsl(59, 100%, 56%);
$accent-blue-color: hsl(182, 97%, 85%);
$accent-lime-color: hsl(94, 94%, 72%);
$accent-grey-color: hsl(0, 0%, 54%);

$user-darkblue-color: hsl(232, 56%, 43%);
$user-lightblue-color: hsl(197, 86%, 67%);
$user-green-color: hsl(101, 80%, 60%);
$user-violet-color: hsl(277, 46%, 56%);
$user-pink-color: hsl(320, 56%, 71%);
$user-yellow-color: hsl(62, 87%, 72%);
