@use "colors" as c;
@use "functions" as func;
@use "breakpoints" as break;

.header {
    background-color: c.$accent-red-color;
    color: c.$background-black-color;
    padding: func.rem(4) 0;
    font-size: func.rem(20);
    position: sticky;
    top: 0;
    z-index: 1000;

    &__logo {
        background: url("/src/assets/images/interface/header_logo_desk.svg")
            no-repeat;
        background-size: contain;
        width: func.rem(200);
        min-height: func.rem(65);
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        clip-path: polygon(0 16%, 96% 11%, 100% 100%, 6% 81%);
        -webkit-clip-path: polygon(0 16%, 96% 11%, 100% 100%, 6% 81%);

        padding: func.rem(12) func.rem(16);
        cursor: pointer;
        transition: all 200ms ease-in;

        &:hover {
            background-color: c.$accent-turquoise-color;
        }

        a::before {
            content: "";
            display: inline-block;
            vertical-align: top;
            background: url("/src/assets/images/interface/github_icon.svg");
            background-size: contain;
            width: func.rem(18);
            height: func.rem(18);
            margin-right: func.rem(8);
        }
    }

    &__text {
        @include break.breakpoint(small) {
            display: none;
        }
    }
}
