@forward "globals";
@use "globals" as g;

.persona-all-data {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "title"
        "resistance"
        "image"
        "stats"
        "skills"
        "inherit"
        "item"
        "fusion";
}

.title {
    grid-area: title;
    display: flex;
}

.resistance {
    grid-area: resistance;

    margin-bottom: 24px;

    &__container {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    &__elem {
        position: relative;
    }

    .wk::after {
        content: "Wk";
        position: absolute;
        color: var(--white-color);
        right: -2px;
        bottom: -12px;
        font-size: 1em;
    }
    .str::after {
        content: "Str";
        position: absolute;
        color: var(--white-color);
        right: -2px;
        bottom: -12px;
        font-size: 1em;
    }
    .nul::after {
        content: "Nul";
        position: absolute;
        color: var(--white-color);
        right: -2px;
        bottom: -12px;
        font-size: 1em;
    }
    .rpl::after {
        content: "Rpl";
        position: absolute;
        color: var(--white-color);
        right: -2px;
        bottom: -12px;
        font-size: 1em;
    }
    .dr::after {
        content: "Dr";
        position: absolute;
        color: var(--white-color);
        right: -2px;
        bottom: -12px;
        font-size: 1em;
    }
}

.skills {
    grid-area: skills;
    max-width: 600px;

    &__container {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 5fr 1fr;

        div {
            border: 1px solid white;
            padding: 0.5em;
        }
    }
}

.item {
    grid-area: item;
    max-width: 600px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 5fr 1fr;

        div {
            border: 1px solid white;
            //padding: 0.5em;
        }
    }
}

.inheritance {
    grid-area: inherit;
    max-width: 400px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 16px;

        div {
            border: 1px solid white;
        }
    }
}

.stats {
    grid-area: stats;
    max-width: 400px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr;
        gap: 0.5em;
    }

    &__progressbar {
        height: 1em;
        background-color: red;
    }
}

.fusion {
    grid-area: fusion;
}
