@use "../globals" as g;

.table {
    font-size: clamp(g.rem(22), 4vw, g.rem(24));

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        margin-top: g.rem(24);
        margin-bottom: g.rem(40);
    }

    &__colnames {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin: 2rem auto 0 auto;
    }

    &__content {
        &--single-col {
            overflow-y: auto;

            max-height: g.em(540);
            padding-right: 0.5rem;

            & > .table__cell {
                transform: rotate(-2deg);
            }
        }

        &--two-col {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0;

            overflow-y: auto;

            margin-inline: auto;
            max-height: g.em(400);
            padding-top: 1rem;
            padding-right: 0.35rem;

            & > .table__cell {
                border-bottom: 1px solid #434242;
                padding-top: 1rem;

                &:nth-last-of-type(-n + 2) {
                    border-bottom: none;
                }
            }
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        overflow: hidden;
        padding: 0.8rem 0.3rem 0.6rem 0.3rem;

        &--dlc,
        &--dlc:visited,
        &--dlc:active {
            color: g.$accent-yellow-color;

            & > .table__circle,
            .table__arcana {
                background-color: g.$accent-yellow-color;
            }
        }

        &--special,
        &--special:visited,
        &--special:active {
            color: g.$accent-blue-color;

            & > .table__circle,
            .table__arcana {
                background-color: g.$accent-blue-color;
            }
        }

        &--gem,
        &--gem:visited,
        &--gem:active {
            color: g.$accent-lime-color;

            & > .table__circle,
            .table__arcana {
                background-color: g.$accent-lime-color;
            }
        }

        &:hover {
            //clip-path: polygon(0 0, 91% 10%, 100% 91%, 0 100%);
            background-color: g.$accent-red-color;
        }

        &:hover .table__arcana {
            color: g.$accent-red-color;
        }

        span {
            display: inline-block;
            flex-shrink: 0;
        }
    }

    &__arcana {
        background-color: g.$white-color;
        color: g.$background-black-color;
        padding: g.rem(2) g.rem(12) g.rem(4) g.rem(12);
        border-radius: g.rem(2);

        @include g.for-desktop-down {
            max-width: 8ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__circle {
        background-color: g.$white-color;
        border-radius: 50%;
        width: g.rem(6);
        height: g.rem(6);
        align-self: center;
    }

    &__note {
        flex-grow: 1;
        flex-basis: g.rem(600);
        font-size: clamp(g.rem(20), 3vw, g.rem(22));
    }
}

.note {
    &__main,
    &__optional {
        display: inline-block;
    }
    &__optional {
        background-color: g.$accent-red-color;
    }
}

.th {
    max-width: 85%;

    background-color: g.$white-color;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    clip-path: polygon(3% 1%, 100% 0, 99% 91%, 0% 100%);
}
